body {
  margin: 0;
  background: #eee;
  font-family: 'Besley', serif;
}

.header {
  font-family: Oswald;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
}

.links {
  color: limegreen;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1; 
  margin: 10px;
}

.logo {
  color: limegreen;
  font-size: 32px;
  font-weight: 900;
  margin: 10px; 
}

button {
  border: none;
  border-radius: 8px;
  background: limegreen;
  color: white;
  padding: 8px 24px;
}



.form {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

form input,
form textarea,
form button {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}

form button {
  background: limegreen;
  color: white;
  padding: 10px 20px;
}

 button:hover {
  background: darkgreen;
}



