body {
    font-family: Times New Roman, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
    color: red;
}

h1 {
    color: limegreen    ;
}

div {
    border: 2px dotted red;
    background-color: black;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
