@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Besley', sans-serif;
    background-color: #2d2d2d;
    color: white;
}


.game-header {
    background-color: red;
    padding: 10px 0;
    text-align: center;
}

.hotline {
    display: flex;
    font-family: 'Besley', sans-serif;
    border: 2px solid red;
    margin: 10px;
    padding: 5px;
    justify-content: center;

}


.game-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}

.dealer-section, .player-section {
    flex-basis: 100%;
    text-align: center;
    border: 2px solid black;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

/*.card {
    width: 140px;
    height: 200px;
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.
.card {
    width: 140px;
    height: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-size: cover; 
    background-position: center; 
}*/


.card {
    width: 140px;
    height: 200px;
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-size: cover; 
    background-position: center; 
}



.score {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.message-area {
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.action-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}




}

h1, h2 {
    color: #fff;
}


.dealer-section, .player-section {
    flex-basis: auto;
    width: 80%;
}

.scores-box {
    display: flex;
    width: 1000px;
    height: 40px;
    border: 5px whitesmoke;
}
/*.card {
    width: 80px; 
    height: 120px; 
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
}*/

