
img {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

h1 {
    background-color: #00A6FB;  
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    border: 2px dashed #0056b3; 
    border-radius: 5px; 
}


h2.ingredients, h3 {
    background-color: #00A6FB;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top: 1px dashed #0056b3;
    border-bottom: 1px dashed #0056b3;
    margin-top: 20px;
}

ul {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
}


h4 {
    margin-top: 20px;
    font-weight: bold;
}

p {
    margin-bottom: 20px;
    padding: 0 10px;
    line-height: 1.8;
}
